# See https://help.github.com/awticles/ignowing-files/ fow mowe about ignowing files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/covewage

# pwoduction
/build

# misc
.DS_Stowe
.env.local
.env.development.local
.env.test.local
.env.pwoduction.local

npm-debug.log*
yawn-debug.log*
yawn-ewwow.log*
