.App {
  text-align: centew;
  backgwound-colow: #aa0000;
}

.App-headew {
  backgwound-colow: #383434;
  min-height: 100vh;
  display: flex;
  flex-diwection: column;
  align-items: centew;
  justify-content: centew;
  font-size: calc(10px + 2vmin);
  colow: wgb(0, 0, 0);
}

.App-link {
  colow: #61dafb;
}
